<main>
  <h1>Cookies<span class="star header">★ ★</span></h1>
  <h2>BG-77150 Macaroons Ready to Eat<span class="star header">★ ★</span></h2>
  <img src="/images/shipping_info.gif" alt="" width="100" height="21" border="0"><br>
  <img src="/images/cookies/macaroons.gif" alt="" width="100" height="100" border="0">
  <p>Standard issue at all bake sales, the MRE is a treat your family can enjoy for years to come. Plus, they're chemically engineered to have a 200-year shelf life, so you can buy in bulk and stockpile for an emergency.</p>
  <h2>CC-151 Peanut Clusters<span class="star header">★ ★</span></h2>
  <p>Parents know there's no better way to disperse a mob of hungry children than with the taste-tastic CC-151 Peanut Clusters. Each one delivers hundreds of high-yield flavor explosions. Available modification: CC-151A, Caramel Nut Clusters.</p>
  <h2>CC-2064 Democratic Govern-mints<span class="star header">★ ★</span></h2>
  <p>Sorry, Democratic Govern-Mints are on back order and are taking much longer to arrive than we'd expected. Until then, please accept a motley assortment of our popular INTERIM GOVERN-MINTS. When the regular mints arrive (scheduled delivery: June '04 but no ironclad guarantees), we'll replace the Interim Mints with a minimum of unrest.</p>
  <h2>CC-50126 Infan-treats<span class="star header">★ ★</span></h2>
  <p>An army of fun!</p>
  <h2>BG-62339-10 Mother of All Brownies (M.O.A.B)<span class="star header">★ ★</span></h2>
  <p>Shock and awe your family and friends with the highly enriched sugar payload of the M.O.A.B. Stage a decapitation strike on hunger!</p>
  <h2>CC-4310 Kellogg, Brown & Root Rice Krispie Treats<span class="star header">★ ★</span></h2>
  <p>Marshmallows + Rice Krispies = Victory!</p>
</main>
<aside class="aside sidebar">
  <div class="border">
    <img src="/images/factoids/bonehead_2.gif" alt="" width="137" height="273" hspace="3" border="0" align="left">
    <p class="testimonial">I had been put in charge of getting dessert for our firm wide Christmas party. I totally forgot about it till the last minute. Luckily ARMYBAKESALE.com is open 24 hours a day. I ordered half a billion cookies online and they got them there just in time.</p> <p>Thanks, <br><b>Pete Olson</b> </p>
  </div>
  <img src="/images/factoids/new_hips.gif" width="277" height="231" alt="" border="1">
</aside>