<main>
  <h1>Cookies<span class="star header">★ ★</span></h1>
  <p>Always on the front line of the hunger battle, our cookies are a sure-fire way to engage your tastebuds. Check our selection below.</p>
  <% data.cookies.each_with_index do |cookie, index| %>
    <%= partial('product', locals: { product: cookie, index: index }) %>
  <% end %>
</main>
<aside class="aside sidebar">
  <div class="border">
    <img src="/images/factoids/bonehead_2.gif" alt="" width="137" height="273" hspace="3" border="0" align="left">
    <p class="testimonial">I had been put in charge of getting dessert for our firm wide Christmas party. I totally forgot about it till the last minute. Luckily ARMYBAKESALE.com is open 24 hours a day. I ordered half a billion cookies online and they got them there just in time.</p> <p>Thanks, <br><b>Pete Olson</b> </p>
  </div>
  <br>
  <img src="/images/factoids/new_hips.gif" width="275" alt="hips don't lie" class="border">
</aside>