<main>
  <h1>Beverages<span class="star header">★ ★</span></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore commodi, voluptatem. Nisi officiis voluptatum obcaecati vel eum cupiditate minus, quod deleniti! Ut delectus, voluptate dicta sapiente facere velit culpa laboriosam?</p>
</main>
<aside class="aside sidebar">
  
</aside>