/* Small screens */
@media all and (max-width: 599px) {
  /* We tell both sidebars to share a row */
  // .aside { flex: 1 auto; }
  #nav-truck {
    display: none;
  }
  .nav { order: 0; }
  main    { order: 1; }
  .sidebar { order: 2; }
  .footer  { order: 3; }

  .choices .card { max-width: 100%; }
  .product-content { display: block; }
  .image-holder { 
    float: left;
    margin-bottom: 3em;
  }
  #stickers img {
    width: 100%;
    margin-bottom: 1em;
  }
  textarea, input[type="text"] {
    width: 100%;
    margin-right: 15px;
  }
  .aside {
    width: 100%;
  }
  .aside img {
    margin: 0 auto;
  }
}

/* Medium screens */
@media all and (min-width: 600px) and (max-width: 799px) {
  /* We tell both sidebars to share a row */
  // .aside { flex: 1 auto; }
  .choices .card {max-width: 100%; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  main { flex: 2 0px; }
  .nav { order: 1; }
  main    { order: 2; }
  .sidebar { order: 3; }
  .footer  { order: 4; }
}