$salmon: #D34C3F;
$green: #4A692A;
$yellow: #FFCE76;
$gray: #E7E7E7;

@charset "utf-8";
@import "normalize";
@import "modal";
@import "product";
@import "flip_animation";

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
}
a {
  color: $green;
}
nav {
  font-family: "Oswald", Helvetica, Arial;
  width: 150px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
  ul {
    line-height: 1em;
    list-style: none;
    padding-left: .5em;
    li {
      margin-bottom: .5em;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $salmon;
      }
    }
    ul {
      font-size: .85em;
      padding-left: .5em;
    }
  }
}

header, footer {
  background: $yellow;
}

header {
  padding: 0 10px 8px 10px;
  display: flex;
}

h1, h2, h3 {
  font-family: "Oswald", Helvetica, Arial;
  color: #FFF;
  text-transform: uppercase;
  background-color: $salmon;
  position: relative;
  top: 0;
  left: 0;
  padding-left: .25em;
}

h1 {
  margin-top: 0;
}

.logo {
  margin-top: 10px;
}
.slogan {
  margin-left: auto;
}
.sidebar {
  padding: .5em;
  display: flex;
  flex-direction: column;
  width: 276px;
}
.star {
  font-size: 110%;
  padding-right: .35em;
}
.header {
  float: right;
  position: relative;
  top: -5px;
  color: rgba(255, 255, 255, .75);
}
.featured {
  box-sizing: border-box;
  display: flex;
  height: 200px;
  .featured-description {
    background-color: white;
    padding-left: .5em;
    border: 2px solid $salmon;
    border-left: none;
    height: 196px;
    overflow-y: scroll;
  }
}

.testimonial {
  font-size: .75em;
}

.sidebar-inset {
  background-color: #eaeaea;
  font-size: .75em;
  padding: .5em;
  margin-top: 0px;
}

.form-group {
  margin-bottom: 1em;
  label {
    margin-bottom: .35em;
    text-transform: uppercase;
    font-size: .75em;
    display: block;
  }
  textarea, input {
    border: none;
    padding: .25em;
  }
}

main {
  background-color: $gray;
  padding: 1em;
}

#faq {
  padding: 0 .5em;
  font-size: .85em;
  line-height: 1.5em;
  h4 {
    margin-bottom: 0;
    font-size: 1em;
    text-transform: uppercase;
    color: $salmon;
    a {
      color: $salmon;
      text-decoration: underline;
    }
  }
}

.border {
  border: 2px solid #6d6d6e;
}

.disclosures {
  font-size: .65em;
}

.choices {
  a {
    text-decoration: none;
    p {
      margin: 0;
      color: black;
    }
    h4 {
      margin: 0;
      text-transform: uppercase;
      color: $salmon;
    }
  }
  display: flex;
  flex-flow: column wrap;
  .card {
    display: flex;
    border: solid 1px $salmon;
    background-color: white;
    max-width: 66%;
    border-radius: 0 15px 15px 0;
    margin-bottom: 1em;
    div {
      padding: .5em;
      font-size: .75em;
    }
  }
}

footer {
  font-size: 12px;
  font-weight: normal;
  padding: 1.25em;
  text-align: center;
  a {
    display: inline-block;
    padding: 0 .5em;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width */
.flex-header, main, .footer {
  flex: 1 100%;
}

@import "media_queries";


