<main>
  <h2>Apparel<span class="star header">★ ★</span></h2>
  <img src="images/merch/apron1.gif" class="border">
  <img src="images/merch/apron2.jpg" class="border">
  <h2>Stickers<span class="star header">★ ★</span></h2>
  <div id="stickers">
    <img src="images/merch/sticker4.gif" class="border">
    <img src="images/merch/sticker3.gif" class="border">
    <img src="images/merch/sticker2.gif" class="border">
    <img src="images/merch/sticker1.gif" class="border">
  </div>
</main>
<!-- <section class="sidebar"></section> -->