<main>
  <h2>Apparel<span class="star header">★ ★</span></h2>
  <img src="images/merch/apron1.gif" width="250" height="328" alt="" class="border">
  <img src="images/merch/apron2.jpg" width="258" height="328" alt="" class="border">
  <h2>Stickers<span class="star header">★ ★</span></h2>
  <img src="images/merch/sticker4.gif" width="450" height="127" alt="" vspace="5" class="border">
  <img src="images/merch/sticker3.gif" vspace="5" width="450" height="127" alt="" class="border">
  <img src="images/merch/sticker2.gif" width="450" vspace="5" height="127" alt="" class="border">
  <img src="images/merch/sticker1.gif" width="450" height="127" alt="" vspace="5" class="border">
</main>
<!-- <section class="sidebar"></section> -->