<main>
  <h1>Honor and Baking, Baking and Honor<span class="star header">★ ★</span></h1>
  <p>Your United States Army has been protecting America for decades, but only recently have we been able to begin our tradition of excellence in baking. You can rest assured that the meticulous control and zealous passion we exhibit on the battlefield has been brought into the kitchen.</p>

  <p>It's not easy keeping America safe&mdash;as a matter of fact last year it took 425 billion dollars to do it. That's where your appetite for baked goodies comes in. It only takes each of America's 109 million households chipping in $5700 a piece to ensure that the American way of life is protected. Yes that's a lot of cookies! We know, we have to bake them! But if we all do our part, evil will soon fear the smell of brownies. </p>
  <section class="choices">
    <a href="tradition/cookies">
      <div class="card">
        <img src="images/rice_crispies_sm.gif" alt="" width="60" height="60">
        <div class="content">
          <h4>Cookies</h4>
          <p>Always on the front line of the hunger battle, our cookies are a sure-fire way to engage your tastebuds.</p>
        </div>
        <br clear="all">
      </div>
    </a>

    <a href="tradition/sundries">
      <div class="card">
        <img src="images/coalition_cupcakes_sm.gif" alt="" width="60" height="60" border="0" align="left">
        <div class="content">
        <h4>Cakes and Sundries</h4>
          <p>Degrade your hunger with some old-fashioned American Treats! We're militant about quality!</p>
        </div>
      </div>
    </a>
    <a href="tradition/beverages">
      <div class="card">
        <img src="images/lemonade_sm.gif" alt="" width="60" height="60" border="0" align="left">
        <div class="content">
          <h4>Beverages</h4>
          <p>Who's thirsty?</p>
        </div>  
      </div>
    </a>
  </section>
  <h2>Did you know?<span class="star header">★ ★</span></h2>
  <section>
    <img src="images/tank.gif" alt="" width="172" height="200" border="1" align="left" style="margin: 0 15px 15px 0">
    <p>We all know that America is the mightiest military superpower in the world, but what you might not realize is what it takes to stay on top. Do you realize that peacekeeping and nation-building operations around the world are being fought with technology that dates all the way back to Operation Iraqi Freedom? What sort of message does that send to Evil?</p>
    <p>With your help we soon be able to purchase the TT-62 and stop the spread of tyranny.</p>
    <p>Are we the largest producer of baked goods because our products are so tasty 
or have our tasty goodies made us the largest manufacturer of baked goods in 
the world? You decide.</p>  
  </section>
  
</main>
<aside class="aside sidebar">
  <img src="images/factoids/map.gif" alt="" width="277" height="223" hspace="4" border="1">
  <br>
  <%= partial 'store_locator' %>
  <br>
  <img src="images/factoids/new_hips.gif" width="277" height="231" alt="" border="1">
</aside>