<select name="<%= item %>" onChange="<%= parser %>parser();parser()">
  <option value=0></option>
  <option value="144">gross</option>
  <option value="1728">great gross</option>
  <option value="20536">value pack</option>
</select>