<main>
  <h1>New World Order Form<span class="star header">★ ★</span></h1>
  <form action="/order/thanks" method="post" name="form1" id="form1">
    <p>Unlike other organizations which sell cookies, <b>ARMYBAKESALE.com</b> doesn't rely on inexperienced young civilians going door-to-door. Harness the power of the United States military and have your order rapidly deployed overseas!</p>
    <table>
      <tr><th>NOTE</th></tr>
      <tr><td>Please be careful to provide accurate shipping information. Relying on the CIA to provide accurate information for the military is time-consuming, expensive and often inaccurate. Don't let your order be shipped to someone who doesn't deserve it.</td>
      </tr>
    </table>
    <h3>Account Details</h3>
    <div class="form-group">
      <label for="name">Your name</label>
      <input type="text" name="name" id="name" size="40" required>
    </div>  
    <div class="form-group">
      <label for="email">Your email</label>
      <input type="text" name="email" id="email" size="40" required>
    </div>
    <p>Thanks to the Department of Homeland Security and the Office of Total Information Awareness, ordering is easier than ever!</p>
    <p>There’s no need to provide your credit card number or other financial information, because in accordance with the USA PATRIOT Act, the Federal Government and its coalition of freedom-loving corporate allies already have this information on file!</p>
    <table>
      <tr>
        <th colspan="5">
          <h3>
            <span>Cookies</span>
            <input type="text" name="cookie_subtotal" value="0" size="9" maxlength="9" readonly class="flat" onchange="parser(this.value)">
            <span style="float:right;">SUBTOTAL&nbsp;&nbsp; </span>
          </h3>
        </th>
      </tr>
      <tr>
        <td>Product</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Unit</td>
      </tr>
      <tr>
        <td><img src="/images/order/clusters.gif" width="45" height="45" border="0"></td>
        <td>peanut clusters<br></td>
        <td>
          <input type="text" name="clus_quant" size="2" value=1 onChange="cookieparser();parser()"></td>
        <td>
          <%= partial 'order/order_select', locals: { item: "clusters", parser: "cookie" } %>
        </td>
      </tr>
      <tr>
        <td><img src="/images/order/macaroons.gif" width="45" height="45" border="0"></td><td>macaroons ready to eat<br></td>
        <td><input type="text" name="mac_quant" value="1" size="2" onChange="cookieparser();parser()"></td>
        <td>
          <%= partial 'order/order_select', locals: { item: "macaroons", parser: "cookie" } %>
        </td>
      </tr> 
      <tr>
        <td><img src="/images/order/mints.gif" width="45" height="45" border="0"></td>
        <td>democratic govern-mints<br></td>
        <td>
          <input type="text" name="mint_quant" size="2" value=1 onChange="cookieparser();parser()">
        </td>
        <td>
          <%= partial 'order/order_select', locals: { item: "governmints", parser: "cookie" } %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/infantreats.gif" width="45" height="45" border="0"></td><td>infan-treats<br>
        </td>
        <td>
          <input type="text" name="infantreat_quant" size="2" value=1 onChange="cookieparser();parser()">
        </td>
        <td>
          <select name="infantreats" onChange="cookieparser();parser()">
            <option value=0></option>
            <option value="12.50">squad</option>
            <option value="55">platoon</option>
            <option value="237.50">company</option>
            <option value="1125">battalion</option>
            <option value="6250">brigade</option>
            <option value="18750">division</option>
            <option value="56250">corps</option>
            <option value="161850">peacekeeping force</option> 
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/moab.gif" width="45" height="45" border="0">
        </td>
        <td>mother of all brownies</td>
        <td>
          <input type="text" name="moab_quant" size="2" value=1 onChange="cookieparser();parser()">
        </td>
        <td>  
          <select onChange="cookieparser();parser()" name="moab">
            <option value=0></option>
            <option value="324">gross</option>
            <option value="324">great gross</option>
            <option value="324">value pack</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/krispies.gif" width="45" height="45" border="0"></td><td>kellogg, brown, and root rice krispie treats<br>
        </td>
        <td>
          <input type="text" name="krispie_quant" size="2" value=1 onChange="cookieparser();parser()">
        </td>
        <td>
          <select name="kellogg" onChange="cookieparser();parser()">
            <option value=0></option>
            <option value="1180 ">gross</option>
            <option value="18165">great gross</option>
          </select>
        </td>
      </tr>  
        <th colspan="5">
          <h3>
            <span>Sundries</span>
            <input type="text" name="sundry_subtotal" value="0" size="9" maxlength="9" readonly class="flat" onchange="parser(this.value)">
            <span style="float:right;">SUBTOTAL&nbsp;&nbsp; </span>
          </h3>
        </th>
      <tr>
        <td>Product</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Unit</td>
      </tr>

      <tr>
        <td>
          <img src="/images/order/betty.gif" width="45" height="45" border="0">
        </td>
        <td>bouncing brown betty<br></td>
        <td>
          <input type="text" name="betty_quant" size="2" value=1 onChange="sundryparser();parser()" >
        </td>
        <td> 
          <select onChange="sundryparser();parser()" name="betty">
            <option value=0></option>
            <option value="324">gross</option>
            <option value="6174">great gross</option>
            <option value="46254">value pack</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/yellowcake.gif" width="45" height="45" border="0"></td><td>yellow cake<br>
        </td>
        <td>
          <input type="text" name="yellowcake_quant" size="2" value=1 onChange="sundryparser();parser()" >
        </td>
        <td>
          <select name="cake" onChange="sundryparser(this.options[this.selectedIndex].value*document.form1.betty_quant.value);parser()">
            <option value=0></option>
            <option value="324">gross</option>
            <option value="6174">great gross</option>
            <option value="46254">value pack</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/blintzes.gif" width="45" height="45" border="0"></td><td>blintz-kreig<br>
        </td>
        <td>
          <input type="text" name="blintz_quant" size="2" value=1 onChange="sundryparser();parser()" ></td>
        <td>
          <select name="blintz" onChange="sundryparser();parser()">
            <option value=0></option>
            <option value="324">gross</option>
            <option value="6174">great gross</option>
            <option value="46254">value pack</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/cupcakes.gif" width="45" height="45" border="0"></td>
        <td>coalition cupcakes</td>
        <td>
          <input type="text" name="cupcake_quant" size="2" value=1 onChange="sundryparser();parser()">
        </td>
        <td>
          <select onChange="sundryparser();parser()" name="cupcake">
            <option value=0></option>
            <option value="500">baker's gross</option>
            <option value="6000">baker's great gross</option>
            <option value="50000">value pack</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/fudge.gif" width="45" height="45" border="0">
        </td>
        <td>dark chocolate "stealth" fudge</td>
        <td><input type="text" name="fudge_quant" size="2" value=1 onChange="sundryparser();parser()"></td>
        <td>
          <select onChange="sundryparser();parser()" name="fudge">
            <option value=0></option>
            <option value="425000">half-acre foot</option>
            <option value="850000">one-acre foot</option>
            <option value="2000000">hectare</option>
          </select>
        </td>
      </tr>

      <tr>
        <th colspan="5">
          <h3>
            <span>Beverages</span>
            <input type="text" name="bev_subtotal" value="0" size="9" maxlength="9" readonly class="flat" onchange="parser(this.value)">
            <span style="float:right;">SUBTOTAL&nbsp;&nbsp; </span>
          </h3>
        </th>
      </tr>
      <tr>
        <td>Product</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Unit</td>
      </tr>

      <tr>
        <td>
          <img src="/images/order/grapalm.gif" width="45" height="45" border="0">
        </td>
        <td>grapalm<br></td>
        <td>
          <input type="text" name="grapalm_quant" size="2" value=1 onChange="bevparser();parser()" >
        </td>
        <td>
          <select onChange="bevparser();parser()" name="grapalm">
            <option value=0></option>
            <option value="19.08">55 gallon drum</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><img src="/images/order/milk.gif" width="45" height="45" border="0"></td><td>milk<br></td>
        <td><input type="text" name="milk_quant" size="2" value=1 onChange="bevparser();parser()" ></td>
        <td>
          <select name="milk"  onChange="bevparser();parser()">
            <option value=0></option>
            <option value="100">gross</option>
          </select>
        </td>
      </tr>
      <tr>
          <td><img src="/images/order/lemonade.gif" width="45" height="45" border="0"></td><td>lemonade<br></td>
      <td><input type="text" name="lemonade_quant" size="2" value=1 onChange="bevparser();parser()"></td>
        <td>
          <select name="lemonade"  onChange="bevparser();parser()">
            <option value=0></option>
            <option value="125">55 gallon drum</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/images/order/julius.gif" width="45" height="45" border="0"></td><td>orange julius<br>
        </td>
        <td></td>
        <td>DISCONTINUED</td>
      </tr>
    </table>

<h2>DELIVERY OPTIONS</h2>
<table>
  <tr><th>NOTE</th></tr>
  <tr><td>You do not need to enter any other information. We already have all your identifying information on file.</td>
  </tr>
</table>
<br>
<table>
  <tr>
    <td>
      <img src="/images/convoy.gif" alt="" width="50" height="50" border="1"><br>
    </td>
    <td valign="top">
      <input type="radio" name="delivery" onClick="parser(950)" id="delivery"><b> Standard Delivery</b><br>
      Products are delivered at a time of our choosing, subject to a variety of factors including weather and pockets of resistance
    </td>
  </tr>
  <tr>
    <td>
      <img src="/images/amphib.gif" alt="" width="50" height="50" hspace="5" border="1">
    </td>
    <td valign="top"><input onClick="parser(9000)" type="radio" name="delivery" id="delivery"><b> Amphibious Assault</b>
    </td>
  </tr>

  <tr>
    <td>
      <img src="/images/airdrop.gif" width="50" height="50" alt="" border="1" hspace="5">
    </td>
    <td valign="top">
      <input onClick="parser(14000)" type="radio" name="delivery" id="delivery"><b> Airdrop</b><br>You must have access to airstrip and/or flyover rights; not available in Turkey, Jordan, Egypt, France, former Soviet Union; guaranteed delivery within 15 miles of your address.
    </td>
  </tr>

  <tr>
    <td>
      <img src="/images/urban.gif" alt="" width="50" height="50" hspace="4" border="1">
    </td>
    <td valign="top">
      <input onClick="parser(21985)" type="radio" name="delivery" id="delivery"><b> Next-Day Tactical Insertion</b> (small orders only)</td>
  </tr>
</table>
<br>
<input type="checkbox" value="checked" checked> <b>optional:</b> shipping insurance / armed escort<br><br>
  total price<br>
  <div class="form-group">
    <input type="text" name="total_price" value="0" size="9" maxlength="9" readonly class="flat"><br>
    <input type="hidden" name="messageSubject" value="armybakesale order mailer">
    <input type="hidden" name="messageBody" value="this will have people's order data when i figure out how to do that.">
  </div>
  <div class="form-group">  
    <input type="submit" name="submit" value="submit" onClick="liar()">
  </div>
</form>
  <hr>
  <div class="disclosures">
    <p>* ARMYBAKESALE.com and its couriers can not be held liable for damage associated with misdirected airdrops, inaccurate GPS information, or incidental property seized at time of delivery</p>
    <p>** Certain delivery times may become classified during transit.</p>
    <p>*** At time of purchase you will be given a unique tracking number. This number will be used to track you. </p>
    <p>**** At this time all shipments to Cuba must be handled through an authorized
  re-seller.</p>
  </div>
</main>
<aside class="aside sidebar">
  <img src="/images/factoids/sam.gif" alt="" width="277" height="310" class="border"><br>
  <img src="/images/factoids/rotary_die.gif" alt="" width="277" height="158" class="border">
</aside>

<script language="JavaScript" type="text/javascript">

  function parser (input) {
    if (input == undefined) {
    input = 0;
    }
    //val = document.form1.total_price.value;
    document.form1.total_price.value = parseInt(document.form1.cookie_subtotal.value)+parseInt(document.form1.bev_subtotal.value)+parseInt(document.form1.sundry_subtotal.value)+input;
  }
  function liar(){
  if (document.form1.email.value == "") {
  alert ("Please enter a valid email address.  Do not attempt to decieve the United States Army.")
  } else {alert ("Thank's your order has been processed. Thank you for supporting ARMYBAKESALE.com and America.")}
  }
  function cookieparser() {
    val = document.form1.cookie_subtotal.value;
    valone=parseInt(document.form1.mac_quant.value)*parseInt(document.form1.macaroons.value);
    valtwo=parseInt(document.form1.clus_quant.value)*parseInt(document.form1.clusters.value);
    valthree=parseInt(document.form1.mint_quant.value)*parseInt(document.form1.governmints.value);
    valfour=parseInt(document.form1.infantreat_quant.value)*parseInt(document.form1.infantreats.value);
    valfive=parseInt(document.form1.moab_quant.value)*parseInt(document.form1.moab.value);
    valsix=parseInt(document.form1.krispie_quant.value)*parseInt(document.form1.kellogg.value);
    document.form1.cookie_subtotal.value = valtwo+valthree+valfour+valfive+valsix+valone;
  }
  function bevparser() {
    valone=parseInt(document.form1.lemonade_quant.value)*parseInt(document.form1.lemonade.value);
    valtwo=parseInt(document.form1.milk_quant.value)*parseInt(document.form1.milk.value);
    valthree=parseInt(document.form1.grapalm_quant.value)*parseInt(document.form1.grapalm.value);
    document.form1.bev_subtotal.value = valtwo+valthree+valone;
  }
  function sundryparser() {
    valone=parseInt(document.form1.betty_quant.value)*parseInt(document.form1.betty.value);
    valtwo=parseInt(document.form1.yellowcake_quant.value)*parseInt(document.form1.cake.value);
    valthree=parseInt(document.form1.blintz_quant.value)*parseInt(document.form1.cupcake.value);
    valfour=parseInt(document.form1.cupcake_quant.value)*parseInt(document.form1.fudge.value);
    document.form1.sundry_subtotal.value = valtwo+valthree+valfour+valone;
  }
</script>