<main>
  <h1>Disclaimer</h1>
  <p>ARMYBAKESALE.com is in no way associated with the United States Army or any other government institution. ARMYBAKESALE.com is a comedic website whose purpose is to inform and entertain. For those who believe that this website is actually the US Army's webportal for funding it's operations through the sale of baked goods and beverages, we here at ARMYBAKESALE.com would like to take a moment to cast aspersions on your intelligence.</p>
 
  <p>If this were an actual US military website it would end with the '.mil' or '.gov' domain extension. Also if this website were part of the US Army it would never have to resort to generating revenue through commercial sales. You have already paid for everything the US military will be buying this year.</p>
 
  <p>If there is something you would like to know you can contact us at <a href="mailto:patriot@armybakesale.com">patriot@armybakesale.com</a></p>  
</main>