<main>
  <h2>Thank you for your order!</h2>

  <p>Customer feedback, as required by the FOIA. </p>
  <p><strong>"I purchased my Stealth Fudge over three months ago and it hasn't arrived yet and I was wonder- oh never mind here it is."</strong>
  <p>– Thomas L. Fogelnest, Minneapolis, Minnisota</p>
</main>
<aside class="aside sidebar">
  <img src="/images/factoids/special.jpg" alt="" width="277" height="323" hspace="4" border="1"><br>
  <img src="/images/factoids/new_war.gif" alt="" width="277" height="173" border="1">
</aside>