<main>
  <h1>F.A.Q<span class="star header">★ ★</span></h1>
  <section id="faq">
    <h4>I'm only one person. Will my purchases really help?</h4>
    <p>Yes. Many people feel the way you do but it only takes a few thousand
  families each purchasing a few hundred thousand cookies to make a big
  difference.</p>
    <hr>
    <h4>I bought some cookies but I want to do more to protect our country. What
  else can I do?</h4>
    <p>One thing all freedom-loving Americans should do is write their elected
  leaders and tell them how important defense funding is. Do you realize that
  hundreds of your tax dollars are grossly mismanaged by the Department of
  Education? Educating our children is an admirable goal but what good is an
  education in a world where America's enemies are free to stockpile weapons,
  threaten our precious freedom and elect their own potentially anti-American
  governments?</p>
    <hr>
    <h4>What's all this I've been hearing about Gulf Fudge Syndrome?</h4>
    <p>There is no such thing as Gulf Fudge Syndrome.</p>
    <hr>
    <h4>How do I help if I'm on a low-sugar diet/have diabetes?</h4>
    <p>You can always donate your gently used tanks, bombers, and weapons systems
  at a local military base or sell them to South Korea and donate the
  proceeds.</p>
    <hr>
    <h4>When will the X-20 Tactical Sugar cookie be available?</h4>
    <p>Due to cost overruns and technical setbacks the deployment of the X-20 has
  been delayed till 2009. We still feel the development of this cookie is
  vital to our homeland defense and will continue to keep you posted on its
  development.</p>
    <hr>
    <h4>Can my order be shipped overseas?</h4>
    <p>Yes. You will need access to an airport and 'fly-over' rights for your
  country. If you can not get authorization for C-130 landing authorization an
  air-drop can be arranged for an additional charge. Local taxes may apply.
  Additionally we do not recognize the legitimacy of many countries sovereign
  airspace. Check with one of our customer representatives to see if your
  country qualifies.</p>
    <hr>
    <h4>I'm an exchange student in <font color="#000">[REDACTED]</font>. I've been serving my host family <a href="/tradition/sundries">Occu-Pies</a> for more than a year and even though they love that little slice of America, they've been clamoring for <a href="/tradition/cookies">Democratic Govern-Mints</a>. I know they're on back order. Is there any way my <font color="#000">[REDACTED]</font> family can make their own Govern-Mints?</h4>
    <p>No. Only the US Army is qualified to make and export Govern-Mints. Govern-Mints made by anyone other than the US armed forces can be dangerous. Democratic Govern-Mints will likely be available by mid-summer, so remind your host family that until then, they should be happy with nutritious, patriotic Occu-Pies. Nothing's more American than Occu-Pie, and nothing's better than America!</p>
    <hr>
    <h4>I live in Syria, Iran, North Korea, or Sierra Leone. Currently there is no
  store or US military base in my country. Do you have plans to open a store
  here in the future?</h4>
    <p>Yes. Very Soon.</p>
  </section>
</main>
<aside class="aside sidebar">
  <img src="/images/factoids/lighthouse.gif" alt="" width="274" class="border">
  <h3 style="margin-bottom: 0;">What's Our Secret?<span class="star header">★ ★</span></h3>
  <p class="sidebar-inset">Want to make peanut clusters the U.S. Army way? <span style="text-decoration: underline; cursor: pointer;" id="myBtn">Download our secret recipe!</span></p>
</aside>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" style="color: red;">&times;</span>
    <img src="/images/factoids/secret_recipe.gif" width="100%" alt="secret recipe" align="center">
  </div> <!-- close .model-content -->
</div> <!-- close myModal -->
