<main>
  <h1>Sundries<span class="star header">★ ★</span></h1>
  <% data.sundries.each_with_index do |sundry, index| %>
    <%= partial('product', locals: { product: sundry, index: index }) %>
  <% end %>
</main>
<aside class="aside sidebar">
  <img src="/images/factoids/semi_sweet.gif" alt="" width="275" class="border"><br>
  <img src="/images/factoids/spotlight.gif" alt="" width="277">
</aside>