<footer>
  <a href="index.html">home</a>
  <a href="cookies.html">cookies</a>
  <a href="bevs.html">beverages</a>
  <a href="sundries.html">sundries</a>
  <a href="merch.html">merchandise</a>
  <a href="mailbag.html">mailbag</a>
  <a href="tradition.html">tradition</a>
  <a href="faq.html">FAQ</a>
  <a href="order.html">order</a>
  <a href="privacypolicy.html" onClick="return popUp('privacypolicy.html', 'imageName', 'width=502,height=454,resizable=no,scrollbars=no')">privacy policy</a>
  <a href="disclaimer.html"  onClick="return popUp('disclaimer.html', 'imageName', 'width=502,height=454,resizable=no,scrollbars=no')">disclaimer</a> <font class=tiny2>&copy;2004 hivemind prod.</font>
</footer>