<footer class="footer">
  <a href="/">home</a>
  <a href="/tradition/cookies">cookies</a>
  <a href="/tradition/beverages">beverages</a>
  <a href="/tradition/sundries">sundries</a>
  <a href="/merchandise">merchandise</a>
  <a href="/mailbag">mailbag</a>
  <a href="/tradition">tradition</a>
  <a href="/faq">FAQ</a>
  <a href="/order">order</a>
  <a href="" onClick="alert('Don\'t ask. Don\'t tell.'); return false;">privacy policy</a>
  <a href="/disclaimer">disclaimer</a> 
  <span>&copy;2004 hivemind prod.</span>
</footer>