<nav class="aside nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/tradition">Our Tradition of Excellence</a></li>
      <ul>
        <li>
          <a href="/tradition/cookies">
            <span class="star">*</span>Cookies
          </a>
        </li>
        <li>
          <a href="/tradition/sundries">
            <span class="star">*</span>Sundries
          </a>
        </li>
        <li>
          <a href="/tradition/beverages">
            <span class="star">*</span>Beverages
          </a>
        </li>
      </ul>
    <li><a href="/merchandise">Merchandise</a></li>
    <li><a href="/faq">F.A.Q.</a></li>
    <li><a href="/mailbag">Mailbag</a></li>
    <li><a href="/order">Order</a></li>
  </ul>
<img src="/images/front_truck.gif" alt="delivery truck" width="100%" border="0" id="nav-truck">
</nav>
