<main class="main">
  <h1>Why are we baking?<span class="star header">★ ★</span></h1>
  <p>In accordance with last year's Congressional ruling, the US military no longer receives its funding through tax payer dollars and must now generate all revenue through the sale of baked goods and refreshing beverages. </p>

  <p>But don't worry, scaling back our weapons development and acquisition programs is not an option. In fact we've already ordered the weapons for this coming year. We know that we can trust all Americans to help us raise the necessary funds to meet this year's $425 billion budget.</p>

  <p><strong>Wouldn't it be great if the military had all the money it needed and schools had to hold a bake sale to buy a textbook?</strong></p>

  <p>Maybe some day that dream will be a reality, but for now, as you know, the Army has to hold a bake sale to buy a tank. But now, you can get delicious baked goods online, without the hassle of having to go to a U.S. military installation.</p>
        
  <p>Thanks to <strong>ARMYBAKESALE.com</strong>, freedom-loving Americans everywhere can buy delicious baked goods to help fund the acquisition of the military hardware that our armed forces so desperately need. Remember, from F/A-18E/F Super Hornet Fighter Bombers to DDG-51 Arleigh Burke class guided missile destroyers, every little bit helps. You can fight terrorism and hunger at the same time!</p>
  <section class="featured">
    <section class="featured-hero">
      <img src="images/featured_cookie.gif" width="193" height="200" alt="" border="0">
    </section>
    <section class="featured-description">
      <h2>BG-76 Occu-pies <span class="star header">★ ★</span></h2>
      <p>BG-76 Occu-pies, The taste that won't go away! (Scrumptious Occu-pies will be added to your order whether or not you request them. It's what's best for you. Trust us.)</p>
      <img src="images/see_the_recipe.gif" width="154" height="26" alt="See the recipe." border="0" id="myBtn">
    </section>
  </section>
  <%= partial 'recipe' %>
</main>
<aside class="aside sidebar">
  <img src="images/factoids/tudor_testimonial.gif" width="277" height="257" alt="" border="0"><br>  
  <img src="images/factoids/patriot.gif" alt="" width="274" class="border">
</aside>